html {
    font-family: "raleway";

}
body {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
a{
    text-decoration: none;
    color: black;
}
.logo {
    width: 61,09px;
    height: 19px;
    padding: 48px 0px;
}
.nav {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;

}
.nav-item {
    font-weight: 400;
    font-size: 14px;
    padding: 48px 50px;
}
.nav-item:hover {
    color: #0065FC;
    font-weight: 400;
    font-size: 14px;
    border-top: #0065FC solid 1px;
}
.div-search {
    display: flex;
    height: 49px;
}
.btn-search-logo {
    display: none;
}
.loc{
    border-radius: 15px 0px 0px 15px;
    border: 0px;
    width: 50px;
}
.search {
    border: #F2F2F2 solid 1px;
    font-weight: 700;
    font-size: 18px;
}
.btn-search {
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: 0px;
    border-radius: 0px 15px 15px 0px;
}
.filtre {
    margin-top: 59px;
    width: auto;
    display: flex;
    
}
.filtre-h3 {
    font-size: 25px;
    margin: 10px;
}
.filtre-div {
    display: grid;
    grid-template-columns: repeat(auto-fill,25%);
    width: 100%;
    height: 50px;
    vertical-align: auto;
}
.filtre-div-item {
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    border-color: #D9D9D9;
    border-style: solid;
    padding: 0px 20px;
    width: 90%;
}
.filtre-div-item:hover {
    background-color: #DEEBFF;
}
.filtre-icon {
    margin-right: 10px;
    color: #0065FC;
 }

.info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 447px;
}
.info-logo{
    color: #0065FC;
    margin: auto;
}
.round-info {
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
}
.p-info {
    margin-top: 3px;
    height: 24px;
    align-content: center;
    justify-content: center;
}


#section2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

        /* BLOC 1  */
.bloc1 {
    width: 65%;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.bloc1-title {
    margin-top: 42px;
    margin-left: 40px;
}
.bloc1-div {
    width: 100%;
    margin: 0 auto;
    margin-top: 23px;
    display: grid;
    grid-template-columns: repeat(3,28%);
    gap: 15px;
    justify-content: center;

}
.bloc1-element {
    width: 100%;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bloc1-element:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.bloc1-element-photo {
    background-color: burlywood;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 124px;
    object-fit: cover;
}
.bloc1-textAndstars-colonne {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 15px;
    height: 80px;
}
.bloc1-element-h5 {
    margin: 4px 0px 0px 0px;
    font-size: 16px;
    font-weight: 700;
}
.bloc1-element-p {
    margin: 4px 0px 0px 0px;
    font-size: 14px;
    font-weight: 600;
}
.bloc1-element-stars {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 10px;
}
.stars-item {
    color: #0065FC;
}
.stars-item-inactive {
    width: 12px;
    height: 12px;
    color: #d8d8d8;
}



        /* BLOC 2 */
.bloc2 {
    width: 30%;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.bloc2-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bloc2-h3 {
    margin: 41px 0px 0px 37px;
}
.bloc2-chart {
    margin-top: 41px;
    margin-right: 42px;
    color: #0065FC;
}
.bloc2-div {
    width: 80%;
    margin: 0 auto;
    margin-top: 42px;
    display: grid;
    grid-template-rows: repeat(3,144px);
    gap: 33px;
}
.bloc2-element {
    max-width: 343px;
    width: auto;
    height: 144px;
    background-color: white;
    border-radius: 20px ;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bloc2-element:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.bloc2-element-imgsrc {
    width: 137px;
    height: 144px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.bloc2-element-textAndstars {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 15px;
}
.bloc2-element-h5 {
    margin: 16px 0px 0px 0px;
    font-size: 16px;
    font-weight: 700;
}
.bloc2-element-p {
    margin: 7px 0px 0px 0px;
    font-size: 14px;
    font-weight: 400;
}
.bloc2-element-stars {
    position: absolute;
    display: flex;
    bottom: 5px
}





        /* SECTION 3*/

#section3 {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.section-h1 {
    margin-left: 50px;
    font-size: 22px;
    font-weight: 700;
}
.section3-bloc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section3-bloc-element {
    margin: 0 10px;
    width: 100%;
    max-width: 302px;
    height: 444.51px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section3-bloc-element:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.section3-bloc-element-img {
    width: 100%;
    max-width: 302px;
    height: 388.51px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.section3-bloc-element-h1 {
    font-weight: 700;
    font-size: 16px;
    margin-left: 19px;
}



        /*FOOTER */

footer {
    background-color: #F2F2F2;
    width: auto;
    margin-top: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



   /******************************** TABLETTE */

@media (max-width: 992px) {
    header {
        width: auto;
    }

    #section2 {
        flex-direction: column;
        width: 95%;
        justify-content: center;
    }
    .bloc1 {
        width: 100%;
    }
    .bloc2 {
        margin-top: 53px;
        width: 100%;
        height: 278px;
    }
    .bloc2-div {
        grid-template-columns: repeat(3,28%);
        justify-content: center;
        width: 90%;
    }
    .bloc2-element {
        width: 100%;
        height: 144px;
        background-color: white;
        border-radius: 20px ;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .bloc2-element-textAndstars {
        margin-top: 1%;
        margin-left: 1%;
    }
    .bloc2-element-h5 {
        margin: 12px 0px 0px 0px;
        font-size: 14px;
        font-weight: 700;
    }
    .bloc2-element-p {
        margin: 7px 0px 0px 0px;
        font-size: 13px;
        font-weight: 600;
    }
    #section3 {
        width: 100%;
    }
    .section3-bloc-element {
        width: 182px;
        height: 267px;
    }
    .section3-bloc-element-img {
        width: 182px;
        height: 211px;
    }
    footer {
        width: 883px;
    }

}


@media (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
    }
    header {
        display: grid;
        grid-template-rows: repeat(auto-fill,100px);
        justify-content: center;
        align-items: center;
    }
    .logo {
        padding: 0 50px;
    }
    .nav-item {
        font-weight: 400;
        font-size: 16px;
        padding: 23px 50%;
        border-bottom: #D9D9D9 solid 2px;
    }

    .nav-item:hover {
        font-weight: 400;
        font-size: 16px;
        border-top: none;
        border-bottom: #0065FC solid 2px;
    }
    .filtre {
        flex-direction: column;
    }
    .filtre-div {
        display: grid;
        height: auto;
        justify-content: center;
        grid-template-columns: repeat(2,200px);
        margin: 10px ;
    }
    .filtre-div-item{
        width: 160px;
        height: 50px;
        margin: 5px;
    }
    #section1 {
        padding: 0 20px;
    }
    .filtre-h3 {
        text-align: start;
    }
    .div-search {
        justify-content: center;
    }
    .btn-search-text {
        display: none;

    }
    .btn-search-logo {
        display: block;
        padding: 5px;
    }
    #section2 {
        width: 100%;
        
        flex-direction: column-reverse;
    }
    .bloc2 {
        border-radius: 0px;
        margin-top: 53px;
        padding-bottom: 5%;
        width: 100%;
        height: auto;
    }
    .bloc2-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .bloc1 {
        border-radius: 0;
        height: auto;
        background-color: white;
    }
    .bloc1-div {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bloc1-element {
        height: 199px;
    }
    .section3-bloc {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section3-bloc-element {
        width: 80%;
        max-width: none;
        height: auto;
        margin: 10px 0;
        
    }
    .section3-bloc-element-img {
        width: auto;
        max-width: none;
    }
    footer {
        width: 100%;
        flex-direction: column;
        padding: 10%;
    }
}